@model SQRL.Samples.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Log in using SQRL.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <a href="@ViewBag.SqrlUrl">
            <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=@Url.Encode(ViewBag.SqrlUrl)" alt="SQRL Login" /><br/>
            @ViewBag.SqrlUrl
        </a><br/>
        <input type="submit" value="Log in" />
    </fieldset>
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
